* {
  box-sizing: border-box; }

html, body {
  font-size: 22px;
  color: #232323; }

a {
  color: #232323;
  text-decoration: none; }

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em; }

h1, h2, h3 {
  font-family: 'Space Mono', serif; }

h4 {
  font-family: sans-serif; }

span, p, a, li {
  font-family: sans-serif;
  line-height: 1.8; }

@media (min-width: 996px) {
  h1 {
    font-size: 53px; }
  h2 {
    font-size: 43px; }
  h3 {
    font-size: 33px; }
  h4 {
    font-size: 28px; }
  span, p, a, li {
    font-size: 22px; }
  p.sm {
    font-size: 17px; } }

h1 {
  font-size: 38px; }

h2 {
  font-size: 31px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

span, p, a, li {
  font-size: 16px; }

p.sm {
  font-size: 13px; }

html, body {
  background-color: #F3FFFC; }

.addressGroup p {
  margin-bottom: 8px;
  margin-top: 8px; }
  @media (min-width: 1325px) {
    .addressGroup p {
      font-size: 1.03em; } }

@media (min-width: 996px) {
  .addressGroup {
    position: relative;
    top: 35px; } }

.contentWrap {
  margin-left: 8px;
  margin-right: 8px;
  max-width: 865px; }
  @media (min-width: 768px) {
    .contentWrap {
      margin-left: 30%;
      margin-right: 100px; } }
  @media (min-width: 1600px) {
    .contentWrap {
      margin-left: 30%;
      margin-right: 100px; } }

.jam {
  margin-left: 32px; }
  .jam h3 {
    text-transform: uppercase;
    margin: 8px; }
  .jam .jar {
    margin-bottom: 32px; }
  @media (min-width: 768px) {
    .jam {
      float: left;
      width: 20%; } }

.header {
  background-image: url("/img/big-triangle.png");
  background-repeat: no-repeat;
  background-position: 100% 20%; }
  @media (min-width: 996px) {
    .header {
      margin-left: 82px;
      max-width: 1122px; } }

.faq .q {
  margin-top: 2em;
  margin-bottom: 2em; }

.circleBg {
  background-image: url("/img/big-circle.png");
  background-repeat: no-repeat;
  background-position: 0% 95%; }

.diamondBg {
  background-image: url("/img/big-diamond.png");
  background-repeat: no-repeat;
  background-position: 70% 85%;
  background-size: 700px; }

.squareBg {
  background-image: url("/img/big-square.png");
  background-repeat: no-repeat;
  background-position: 10% 59%;
  background-size: 500px; }

header, section, footer {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px; }

footer {
  margin-top: 508px; }
  footer a.fog {
    color: #F3FFFC;
    text-shadow: 2px 2px 4px #405155, 2px -2px 4px #405155, -2px -2px 4px #405155, -2px 2px 4px #405155; }

table.resp tr, table.resp td {
  display: block; }

@media (min-width: 996px) {
  table.resp tr {
    display: table-row; }
  table.resp td {
    display: table-cell; } }

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch; }

.u-underline--heavy {
  border-bottom: 5px solid #323B41;
  padding-bottom: 19px; }

.u-border {
  border: 1px solid #323B41;
  padding-left: 32px;
  padding-right: 32px; }
  @media (min-width: 996px) {
    .u-border {
      padding-left: 70px;
      padding-right: 70px; } }

.u-imgResp {
  display: block;
  max-width: 100%; }

.u-textCenter {
  text-align: center; }

.u-textBold {
  font-weight: bold; }
