* {
  box-sizing: border-box; }

html, body {
  font-size: 22px;
  color: #232323; }

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em; }

h1, h2, h3 {
  font-family: 'Space Mono', serif; }

h4 {
  font-family: sans-serif; }

span, p, a, li {
  font-family: sans-serif;
  line-height: 1.8; }

@media (min-width: 996px) {
  h1 {
    font-size: 53px; }
  h2 {
    font-size: 43px; }
  h3 {
    font-size: 33px; }
  h4 {
    font-size: 28px; }
  span, p, a, li {
    font-size: 22px; }
  p.sm {
    font-size: 17px; } }

h1 {
  font-size: 38px; }

h2 {
  font-size: 31px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

span, p, a, li {
  font-size: 16px; }

p.sm {
  font-size: 13px; }

html, body {
  background-color: #F3FFFC; }

.addressGroup p {
  margin-bottom: 8px;
  margin-top: 8px; }

.contentWrap {
  margin-left: 8px;
  margin-right: 8px; }
  @media (min-width: 996px) {
    .contentWrap {
      margin-left: 20%;
      margin-right: 100px; } }

@media (min-width: 996px) {
  .header {
    margin-left: 82px;
    max-width: 1122px; } }

header, section, footer {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px; }

table tr, table td {
  display: block; }

@media (min-width: 996px) {
  table tr {
    display: table-row; }
  table td {
    display: table-cell; } }

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch; }

.u-underline--heavy {
  border-bottom: 5px solid #323B41;
  padding-bottom: 19px; }

.u-border {
  border: 1px solid #323B41;
  padding-left: 32px;
  padding-right: 32px; }
  @media (min-width: 996px) {
    .u-border {
      padding-left: 70px;
      padding-right: 70px; } }

.u-imgResp {
  display: block;
  max-width: 100%; }

.u-textCenter {
  text-align: center; }

.u-textBold {
  font-weight: bold; }
