html, body {
    font-size: 22px;
    color: $darkGrey;
}

a {
  color: $darkGrey;
  text-decoration: none;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-family: 'Space Mono', serif;
}

h4 {
    font-family: sans-serif;
}

span, p, a, li {
    font-family: sans-serif;
    line-height: 1.8;
}

@media (min-width: 996px) {
    h1 { font-size: 53px; }
    h2 { font-size: 43px; }
    h3 { font-size: 33px; }
    h4 { font-size: 28px; }
    span, p, a, li { font-size: 22px; }
    p.sm { font-size: 17px; }
}

h1 { font-size: 38px; }
h2 { font-size: 31px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
span, p, a, li { font-size: 16px; }

p.sm {
  font-size: 13px;
}

