* { box-sizing: border-box; }

$neonGreen: #BEFFEB;
$lightGreen: #F3FFFC;
$grey: #323B41;
$darkGrey: #232323;

@import '_typo.scss';

html, body {
    background-color: $lightGreen;
}

.addressGroup p {
    margin-bottom: 8px;
    margin-top: 8px;
    @media (min-width: 1325px) {
        font-size: 1.03em;
    }
}

.addressGroup {
    @media (min-width: 996px) {
        position: relative;
        top: 35px;
    }
}

.contentWrap {
    margin-left: 8px;
    margin-right: 8px;

    @media (min-width: 768px) {
        margin-left: 20%;
        margin-right: 100px;
    }
}

.header {
    background-image: url('/img/big-triangle.png');
    background-repeat: no-repeat;
    background-position: 100% 20%;

    @media (min-width: 996px) {
        margin-left: 82px;
        max-width: 1122px;
    }
}

.circleBg {
    background-image: url('/img/big-circle.png');
    background-repeat: no-repeat;
    background-position: 0% 95%;
}


header, section, footer {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}


table {
    tr, td {
        display: block;
    }

    @media (min-width: 996px) {
        tr {
            display: table-row;
        }

        td {
            display: table-cell;
        }
    }
}

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
}

.u-underline--heavy {
    border-bottom: 5px solid $grey;
    padding-bottom: 19px;
}

.u-border {
    border: 1px solid $grey;
    padding-left: 32px;
    padding-right: 32px;

    @media (min-width: 996px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.u-imgResp {
    display: block;
    max-width: 100%;
}

.u-textCenter {
    text-align: center;
}

.u-textBold {
    font-weight: bold;
}
