extends ../_layout

block body
  header.header
    h1 Welcome to the first ever Service Jam in music city.
    h1 We’ve got a lot of cool stuff planned and we’d love for you all to experience it!
    h1 So, what is a Service Jam?
    h1 48 hours. One brief. A chance to change the world with design.

  //img(src="/img/big-circle.png")
  //img(src="/img/big-diamond.png")
  //img(src="/img/big-square.png")
  //img(src="/img/big-triangle.png")
  //img(src="/img/jam-jar.png")

  .jam
    img.jar.u-imgResp(src='/img/jam-jar.png', alt="It's jam")

    a(href="#about")
      h3 About

    a(href="#schedule")
      h3 Schedule

    a(href="#faq")
      h3 FAQ

  .circleBg
    section#about.about.contentWrap.u-border
      h2 Feb 17th - 19th, 2017
      p.
        In more than 100 cities around the world each year, design thinking
        enthusiasts join forces on a weekend in February for the Global Service Jam‘s
        weekend of service design to change the world. They are designers, artists,
        business people, mothers, community members, students, legislators and
        citizens. They meet with one goal in mind: to create, prototype, and publish a
        new service in less than 48 hours.
      p.
        For many, Service Jam is their first contact with Service Design. To get
        everyone on equal footing and immersed, we are adding a Service Design Intro on
        Thursday 16th of February. The Intro is a 2-hour introduction to the methods
        used during the Jam. Even if this is your first venture into Service Design,
        Kickstart will give you the knowledge to make the most out of the Jam. If
        you're already a veteran, feel free to join in on Thursday. There's always
        something new to learn.

    section.location.contentWrap
      .row
        .four.columns

          .addressGroup
            p Nashville Software School
            p.sm 500 Interstate Blvd S #300
            p.sm Nashville, TN 37210

        .eight.columns
          a.map(href="https://www.google.com/maps/place/500+Interstate+Blvd+S,+Nashville,+TN+37210/@36.1328003,-86.7587567,17z/data=!3m1!4b1!4m5!3m4!1s0x88646609ff279a6f:0xe3c6150815a94d91!8m2!3d36.132796!4d-86.756568", target="_blank")
            img.u-imgResp(src="https://maps.googleapis.com/maps/api/staticmap?size=615x275&scale=1&zoom=16"
              + "&markers=500+Interstate+Blvd+S,Nashville,+TN"
              + "&center=500+Interstate+Blvd+S,Nashville,+TN"
              + "&key=AIzaSyDJa5Ud03RnFmxP4TsC0JPC949HRAuhQ6k")

  .diamondBg
    section#schedule.schedule.contentWrap
      h2 Schedule

      h3.u-underline--heavy Thursday, Feb 16

      table.resp
        tr
          td(style="width: 330px;")
            h4(style="white-space: nowrap;") 7:30pm - 9:30pm

          td
            h4 Service Design Intro
        tr
          td
          td
            p.
              The Intro is a 2-hour introduction to the methods used during the Jam.
              Even if this is your first venture into Service Design, Kickstart will
              give you the knowledge to make the most out of the Jam. If you're already
              a veteran, feel free to join in on Thursday.

      h3.u-underline--heavy Friday, Feb 17

      table
        tr
          td(style="width: 330px;")
            h4 5:00pm

          td
            h4 Check-in

        tr
          td
            h4 5:30pm

          td
            h4 Kickoff, Welcome and Intro

  .squareBg
    section#faq.faq.contentWrap
      h2 FAQ
      h3.u-underline--heavy Design Questions

      h4.q What is Service Design?
      p.
        Service design is the activity of planning and organizing people,
        infrastructure, communication and material components of a service in
        order to improve its quality and the interaction between service provider
        and customers. The purpose of service design methodologies is to design
        according to the needs of customers or participants, so that the service
        is user-friendly, competitive and relevant to the customers. 

      h4.q What is a Service?
      p.
        We experience services every day — buying insurance, taking a flight,
        filing a tax return, receiving a heart transplant. A service is an
        exchange of goods or value. A complete service includes designed or
        planned interactions among people, products, and processes in various
        places and over time. We often encounter a service (like visiting the DMV
        or a hair salon) where only some parts of its service touchpoints are
        designed with clear intention and purpose. In fact, most services we have
        today kind of just “happen” and aren’t consciously designed even though
        about 80% of our economy is services!

    footer
      p.u-textCenter.u-textBold ©2017 Service Jam. Hosted by #[a(href="fog.haus") fog.haus ], sponsored by NSS, NUX + HCA
